* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #f5f6fa;
}

.sidebar {
    width: 240px;
    background: #1d1f27;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.logo {
    text-align: center;
    margin-bottom: 25px;
}

.sidebar nav a {
    display: block;
    padding: 12px;
    color: #d0d0d0;
    text-decoration: none;
    margin: 5px 0;
    border-radius: 6px;
    transition: 0.2s;
}

.sidebar nav a:hover,
.sidebar nav a.active {
    background: #3a3d45;
    color: white;
}

.content {
    margin-left: 260px;
    padding: 30px;
    width: calc(100% - 260px);
}

.subtitle {
    color: #666;
    margin-bottom: 20px;
}

.actions {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.actions input,
.actions select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn-add {
    background: #2d89ef;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-add:hover {
    background: #1b5fbe;
}

.table-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #00000020;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.pendiente {
    background: #f1c40f;
    padding: 4px 8px;
    border-radius: 4px;
}

.enviado {
    background: #3498db;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
}

.completado {
    background: #2ecc71;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
}

.cancelado {
    background: #e74c3c;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
}


.view {
    background: #9b59b6;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.edit {
    background: #27ae60;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}